@media (max-width: 450px) {

    
    /* HeroSection */
    .hero-section {
        height: fit-content;
        padding: 30px;
        overflow: unset;
        gap: 30px;
        grid-template-columns: 1fr;
    }
    .box h1 {
        font-size: 24px;
    }
    .box p {
        font-size: 16px;
    }
    .hero-section .list-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto;
    }
    .hero-section .list-container li {
        font-size: 16px;
    }
    .hero-section .list-container button {
        grid-column: 1 / -1;
        padding: 20px 30px;
        background-color: #ffa200;
        font-size: 12px;
    }

    .hero-section .cta-container {
        gap: 30px;
    }
    .cta-container .autoTypingText {
        font-size: 18px;
    }
}

@media (max-width: 450px) {
    .secondSection {
        flex-direction: column;
        padding: 20px 10px;
        height: auto;
        margin: 40px auto;
    }

    .carouselContainer {
        height: 220px;
        margin-bottom: 1rem;
    }

    .imageSlider {
        height: 100%;
    }

    .carouselImage {
        height: 200px;
        object-fit: cover;
    }

    .contentss {
        text-align: center;
        margin-top: 10px;
    }

    .contentss .parr {
        font-size: 1.2rem;
        margin-bottom: 15px;
    }

    .contentss p {
        font-size: 0.85rem;
        line-height: 1.4;
        margin-left: 0; /* Center text */
        margin-right: 0; /* Center text */
    }

    .S2Btn {
        font-size: 0.8rem;
        padding: 6px 12px;
        margin: 20px auto;
        display: block; /* Center button */
    }
}

